%h1 Login
= form_with() do |f|
  %div
    = f.label :email
    = f.text_field :email, required: true
  %div
    = f.label :password
    = f.password_field :password, required: true
  %div
    = f.submit "Login", class: "bg-green-400 hover:bg-green-500 text-white font-semibold py-1 px-3 rounded-full"